<div container>
    <div class="row">
        <div class="col s4">
            <h5>전체브랜드</h5>
            <ul class="collection">
            <% @brands.each do |brand| %>
                <li class="collection-item"><%= link_to brand.title, brand_path(brand) %></li>
            <% end %>
            </ul>
        </div>
        <div class="col s4">
            <h5><%=@name.product.brand.title%> 의 제품들</h5>
            <ul class="collection">
            <% @name.product.brand.products.each do |product| %>
                <li class="collection-item"><%= link_to product.title, product_path(product) %></li>
            <% end %>
            </ul>
        </div>
        <div class="col s4">
            <h5><%=@name.product.title%> 의 호수</h5>
            <ul class="collection">
            <% @name.product.names.each do |name| %>
                <li class="collection-item"><%= link_to name.title, name_path(name) %></li>
            <% end %>
            </ul>
        </div>
    </div>
    
    <h4><%= @name.product.brand.title %> - <%= @name.product.title %> - <%= @name.title %>의 사진들</h4>
    
    <div class="row">
        <div class="card col s12">
          <div class="card-content">
            <div class="card-title"><i class="material-icons">add</i></div>
            <%= form_tag posts_path, multipart: true do %>
                <%= hidden_field_tag :name_id, @name.id %>
             <!-- file 태그 추가 -->
              <div class="input-field">
                <%= file_field_tag :image %>
              </div>
              <div class="input-field">
                <%= text_area_tag :content %>
              </div>
              </br>
              <div class="input-field">
                <%= button_tag "작성하기", class: "btn" %>
                
              </div>
            <% end %>
          </div>
        </div>
    </div>
    
    
    <div class="row">
        <% @name.posts.reverse.each do |post| %>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= post.image %>">
                    </div>
                    <div class="card-content">
                        <p><%= post.content %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    
</div>